# ${section_title}

${section_description}

---

## 专题内容

${section_content}

## 模块列表

${section_modules}

## API 端点

${section_apis}

## 相关命令

${section_commands}

---

## 导航

${section_nav}

---

## 阅读路径

${reading_paths}

## 相关专题

${related_sections}
